<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todos</title>
</head>
<body>
  <h1>Todos Projects</h1>

  <form action="/todos" method="POST">
    <input type="text" name="description">
    <button type="submit">Add</button>
  </form>

  <ul>
    {{#todos}}
    <li>
      <form action="/todos/{{_id}}/completed" method="POST">
        {{ description }} - {{ done }} <button type="submit">Done</button>
      </form>
    </li>
    {{/todos}}
  </ul>
</body>
</html>